# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

/src/images
# testing
/coverage

# production
client/build
client/public
client/node_modules
client/package-lock.json
client/.env

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*

.env

.vscode/launch.json
.vscode
package-lock.json

