:root{
  --lightOrange: #ff7e00;
  --mainOrange: #d66b00;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainRed: #d3212d;
}
body{
  font-family: "Courier New", Courier, monospace !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-orange{
  color: var(--mainOrange);
}
.NewEntry{
  
  margin: auto;
  vertical-align:middle;
  text-align: center;
}
.Entries{
  margin-right:100px;
  margin-left:100px;
  vertical-align:middle;
  text-align:center;
  font-size:12;
}
.filepond--item {
  width: calc(25% - .25em);
}
.mapEntries{
  mapStyles: {
    
  }
}