.botNav{
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.botAlign{
    /* margin-left: auto; */
    /* clear: left; */
    /* text-align: right; */
    /* float: right;*/
    margin-right: auto;
}