 td, th {
    border: 3px solid orange;
    padding: 8px;
    border-radius: 8px;
  }
  
 /* tr:nth-child(even){background-color: #f2f2f2;} */
  
 tr:hover {background-color: #ddd;}
  
  thead {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    background-color: #d66b00;
    border-radius: 8px;
    /* color: white; */
  }